

html {
    scroll-behavior: smooth;
}


/* Estilos para el texto */
body.custom-body {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 17px;
    background-image: url('images/fondo.png');
}



/* PORTADA */

header {
    background-size: contain;
    background-image: url('images/portada2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    margin-top: 30px;
}



.scroll-reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

/* Cuando la clase "show" es añadida, las flores aparecerán */
.scroll-reveal.show {
    opacity: 1;
}

.flower img {
    max-width: 30%;
}

/* Ubicación en el margen izquierdo */
.flowers_left {
    float: left;
}

/* Ubicación en el margen derecho */
.flowers_right {
    float: right;
}



/* BIENVENIDOS */

#bienvenidos {
    text-align: center;
}


#bienvenidos h1 {
    color: #833947;
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

.bienvenidos-texto p {
    text-align: center;
    padding: 20px;
    padding: 10px;
    /* Ajusta el relleno según sea necesario */
}

.bienvenidos-texto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}


.cuenta-regresiva {
    /* background-image: url('images/nutrias.png'); */
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4a3a3d;
    filter: opacity(0.7);
    padding: 15px;
}



#cuenta-atras {
    display: flex;
    /* align-items: center; */
}

.tiempo {
    text-align: center;
}

.barra {
    font-size: 1em;
    color: #4a3a3d;
    margin: 0 10px;
}



/* LOCATION */

#general-information {
    text-align: center;
    padding: 20px;
}

#general-information h1 {
    color: #833947;
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

/* .information-texto p {
    text-align: center;
    padding: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    color: white;
} */

/* Estilo para la imagen */
.finca-image-container {
    position: relative;
    display: inline-block;
    border: 5px solid #d8c8b7; /* Bordes vintage */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin: 30px 0 30px 0;
}

.finca-image-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a99d8a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para la información */
.information-texto {
    position: relative;
    color: #a3998e;
    /* background-color: rgba(0, 0, 0, 0.6); */
    padding: 10px 20px;
    border-radius: 5px;
}

.information-texto p {
    margin: 0;
}



/* ITINERARIO */

.timeline {
    position: relative;
    margin: 50px 0;
    padding-left: 40px;
    border-left: 3px solid #4a3a3d;
    margin-left: 660px;
}

@media only screen and (max-width: 600px) {
    .timeline {
        position: relative;
        margin: 50px 0;
        padding-left: 40px;
        border-left: 3px solid #4a3a3d;
    }
}

.event {
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s ease-out;
}

.event:before {
    content: '';
    position: absolute;
    left: -6px;
    top: 20px;
    width: 12px;
    height: 12px;
    background-color: #868686;
    border-radius: 50%;
}

.event .time {
    width: 100px;
}

.event .icon {
    margin-right: 20px;
}

.event .icon img {
    width: 30px;
    height: 30px;
}

.event .description {
    font-size: 0.8em;
    color: #4a3a3d;
}

.event .hidden {
    font-size: 0.8em;
    color: #4a3a3d;
}

.event .description:hover {
    color: #4a3a3d;
    transition: color 0.3s ease;
}

/* Animation logic */
.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.itinerario img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.element-crew {
    max-width: 3%;
}

.element {
    max-width: 4%;
}

@media only screen and (max-width: 600px) {
    .timeline {
        position: relative;
        margin: 50px 0;
        padding-left: 40px;
        border-left: 3px solid #4a3a3d;
    }
}

/* CONTACTO */
.rrss {
    width: 30px;
    /* Ancho del icono */
    height: auto;
    /* Altura del icono */
    margin-bottom: 5px;
}

.contacto p {
    margin: 0;
    /* Elimina el margen predeterminado del párrafo */
    text-align: justify;
}


@media (max-width: 768px) {
    .contacto {
        padding: 15px;
        display: inline-flex;
        flex-direction: column;
    }
}

.contacto-info {
    text-align: center;
    margin: 20px 0;
}

.contacto-info a {
    display: inline-block;
    background-color: #1e1e1e;
    /* Color característico de WhatsApp */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contacto-info a:hover {
    background-color: #457556;
    /* Más oscuro al pasar el ratón */
}


/* INFORMACIÓN DE INTERÉS */

#info_interes {
    text-align: center;
    padding: 20px;
}


#info_interes h1 {
    color: #833947;
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

#info_interes h4 {
    color: white;
}

#info_interes p {
    text-align: justify;
    padding: 15px;
}


.slider {
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

.nav {
    background-color: #00000000;
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.nav.prev {
    left: 10px;
}

.nav.next {
    right: 10px;
}

.nav:focus {
    outline: none;
}




/* ASISTENCIA */

#asistencia {
    text-align: center;
    padding: 40px 20px;
}

#asistencia h1 {
    color: #833947;
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

#asistencia p {
    margin-bottom: 40px;
    text-align: center;
}

/* Formulario */
.form-container-asist {
    background: #ffffff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 16px;
    color: #333333;
    margin-top: 8px;
    font-weight: 600;
}

input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333333;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="tel"]:focus {
    border-color: #0056b3;
    outline: none;
}

input::placeholder {
    color: #888888;
}

/* Radio buttons */
.checkbox-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

input[type="radio"] {
    margin-right: 8px;
}

label[for="acompanadoNo"],
label[for="acompanadoSi"] {
    font-size: 14px;
    color: #555555;
}

label[for="bebidaNo"],
label[for="bebidaSi"] {
    font-size: 14px;
    color: #555555;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    z-index: 1000;
    width: max-content;
}

@media only screen and (max-width: 600px) {
    #popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: white;
        z-index: 1000;
        width: 350px;
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    /* Ajusta el tamaño según sea necesario */
    height: 20px;
    /* Ajusta el tamaño según sea necesario */
}

.modal {
    display: none;
    /* Inicialmente oculto */
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo oscuro semitransparente */
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.add-button,
.save-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover,
.save-button:hover {
    background-color: black;
}

*/

/* Botón de enviar: Estilo Business */
button#submit {
    background-color: black;
    /* Azul corporativo */
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 40px;
    border: none;
    border-radius: 50px;
    /* Bordes redondeados y modernos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    cursor: pointer;
    transition: all 0.3s ease;
}

button#submit:hover {
    background-color: black;
    /* Azul más oscuro para hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    /* Intensifica la sombra */
    transform: translateY(-2px);
    /* Ligero levantamiento al hacer hover */
}

button#submit:active {
    background-color: #0e3d80;
    /* Azul aún más oscuro al hacer clic */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    /* Reduce la sombra */
    transform: translateY(0);
    /* Elimina el levantamiento */
}

/* Responsivo */
@media only screen and (max-width: 600px) {
    .form-container-asist {
        padding: 20px;
        max-width: 90%;
    }
}



/* CARROUSEL */

#carrousel {
    text-align: center;
    padding: 20px;
}

#carrousel h1 {
    font-family: 'Quattrocento', serif;
    font-size: 35px;
    color: #4a3a3d;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.carrousel-texto p {
    text-align: center;
    padding: 20px;
    padding: 10px;
    /* Ajusta el relleno según sea necesario */
}



.carousel-item img {
    height: auto;
    /* Ajusta la altura de las imágenes */
    max-width: 40%;
    object-fit: cover;
    /* Asegúrate de que las imágenes se escalen correctamente */
    margin: 0 auto;
}

.carousel-caption {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente para el texto */
    right: 33% !important;
    bottom: 20px;
    left: 33% !important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}


.carrousel-texto img {
    position: absolute;
    max-width: 7%;
    margin-top: -4%;
    margin-left: -22%;
    transform: rotate(-30deg);
}

@media only screen and (max-width: 600px) {
    .carousel-item img {
        height: 450px;
        /* Ajusta la altura de las imágenes */
        max-width: 100%;
    }

    .carousel-caption {
        right: 7% !important;
        left: 7% !important;
    }

    .carrousel-texto img {
        position: absolute;
        max-width: 15%;
        margin-top: -20%;
        margin-left: -43%;
        transform: rotate(-10deg);
    }
}



/* MÚSICA */

#musica {
    text-align: center;
    padding: 20px;
}

#musica h1 {
    color: #4a3a3d;
    font-family: 'Quattrocento', serif;
    font-size: 35px;
    letter-spacing: 2px;
}

.musica-texto p {
    text-align: justify;
    padding: 20px;
    padding: 10px;
}

/* REGALOS */

#regalos {
    text-align: center;
    padding: 20px;
}

#regalos h1 {
    color: #4a3a3d;
    font-family: 'Quattrocento', serif;
    font-size: 35px;
    letter-spacing: 2px;
}

.regalos-texto p {
    text-align: justify;
    padding: 20px;
    padding: 10px;
}

.plain-text {
    color: black;
    background: none;
    font-family: 'Quattrocento', serif;
    font-size: inherit;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* FOOTER */
.pre-footer {
    max-width: 50%;
    margin: 0 auto;
}

/* @media only screen and (max-width: 600px) {
    .pre-footer {
        max-width: 50%;
    }
} */

footer {
    background-color: #4a4949;
    padding: 10px;
    color: white;
}

.footer-content p {
    text-align: center;
    font-weight: 200;
}